<!DOCTYPE html>
<html>
<head>
    <title>Decrypted File: {{ file_name }}</title>
</head>
<body>
    <h1>Decrypted File: {{ file_name }}</h1>
    <ul>
        <li><strong>Firstname:</strong> {{ decrypted_data.Firstname }}</li>
        <li><strong>Lastname:</strong> {{ decrypted_data.Lastname }}</li>
        <li><strong>Position:</strong> {{ decrypted_data.Position }}</li>
        <li><strong>Year:</strong> {{ decrypted_data.Year }}</li>
        <li><strong>Phone:</strong> {{ decrypted_data.Phone }}</li>
        <li><strong>Address:</strong> {{ decrypted_data.Address }}</li>
    </ul>
</body>
</html>
